<div class="header chat-window-header">
  <single-chat class="header-chat"></single-chat>
  <div class="header-options" (click)="btnOptionsClicked()">
    <i class="material-icons">menu</i>
  </div>
</div>
<div class="chat-message-container">
  <simple-msg [isSent]="true" [message]="'Hi Teacher There How are you?'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'I am Good How are u?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'I am Good Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'How are u doing with Physics Assignment'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'I have questions Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Can u list them out in Chat'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Sure Teacher'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'What are quarks in astrophysics?'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'No, astrophysics deals with the physics of large astronomical bodies such as stars and galaxies. Quarks are studied by physicists who study matter at the sub-atomic level. However, there are some areas where astrophysicists may be interested in quarks. For instance, when it comes to studying the formation of the universe during the Big Bang.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Are there any laws in astrophysics?'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Physics is one of the physical sciences. It is the stud of energy and how matter and energy related to one another. Astrophysics is the study of the physics of space.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Hi Teacher There How are you?'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'I am Good How are u?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'I am Good Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'How are u doing with Physics Assignment'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'I have questions Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Can u list them out in Chat'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Sure Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'What are quarks in astrophysics?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'No, astrophysics deals with the physics of large astronomical bodies such as stars and galaxies. Quarks are studied by physicists who study matter at the sub-atomic level. However, there are some areas where astrophysicists may be interested in quarks. For instance, when it comes to studying the formation of the universe during the Big Bang.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Are there any laws in astrophysics?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Physics is one of the physical sciences. It is the stud of energy and how matter and energy related to one another. Astrophysics is the study of the physics of space.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Hi Teacher There How are you?'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'I am Good How are u?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'I am Good Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'How are u doing with Physics Assignment'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'I have questions Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Can u list them out in Chat'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Sure Teacher'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'What are quarks in astrophysics?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'No, astrophysics deals with the physics of large astronomical bodies such as stars and galaxies. Quarks are studied by physicists who study matter at the sub-atomic level. However, there are some areas where astrophysicists may be interested in quarks. For instance, when it comes to studying the formation of the universe during the Big Bang.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Are there any laws in astrophysics?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Physics is one of the physical sciences. It is the stud of energy and how matter and energy related to one another. Astrophysics is the study of the physics of space.'"></simple-msg>
</div>
